<div class="toolbar" role="banner">
    <span style="margin-left: 2em;">2022 Promises</span>
</div>

<div class="content" role="main">

    <div class="card-container">
        <div>{{selectedRefs}}</div>
        <button style="margin-left: 1em;" *ngIf="selectedRefs.length > 0" (click)="openScriptures()">Print</button>
        <button style="margin-left: 1em;" *ngIf="selectedRefs.length > 0" (click)="clear()">Reset</button>
    </div>

    <div class="card-container">
        <div *ngFor="let p of promises">
            <button *ngIf="!p.selected" class="card card-small" (click)="addScripture(p)">
                <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                    viewBox="0 0 24 24">
                    <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z" />
                </svg>
            </button>

            <button *ngIf="p.selected" class="card card-small">
                <span>{{p.ref}}</span>
            </button>
        </div>
    </div>
</div>